<div class="container">

    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

      <div class="p-grid">

        <div class="p-col-12">
          <h1>Novo curso</h1>
        </div>


        <div class="p-col-12 p-md-6 p-lg-2 p-fluid">
            <label>Código</label>
            <input pInputText type="text" name="sku"
             #codigo="ngModel" required minlength="5" [(ngModel)]="curso.sku">

          <app-message [control]="codigo" error="required"
            text="Informe o código"></app-message>
          <app-message [control]="codigo" error="minlength"
            text="Mínimo de {{ codigo.errors?.minlength?.requiredLength }} caracteres"></app-message>
        </div>

        <div class="p-col-12 p-md-6 p-lg-10 p-fluid">
          <label>Nome</label>
          <input pInputText type="text" name="nome"
             #nome="ngModel" required minlength="5" [(ngModel)]="curso.nome">

          <app-message [control]="nome" error="required"
            text="Informe o nome"></app-message>
          <app-message [control]="nome" error="minlength"
            text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
        </div>


        <div class="p-col-12 p-md-6 p-md-6 p-fluid">
          <label>Modalidade</label>
          <p-dropdown [options]="modalidades" name="modalidade" placeholder="Selecione" [(ngModel)]="curso.modalidade"
            #modalidade></p-dropdown>
        </div>

        <div class="p-col-12 p-md-6 p-md-6 p-fluid">
          <label>Grau</label>
          <p-dropdown [options]="graus" name="grau" placeholder="Selecione" [(ngModel)]="curso.grau"
            #grau></p-dropdown>
        </div>


        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>

        <a routerLink="/cursos">Voltar para a pesquisa</a>
      </div>

    </form>

</div>
