<div class="container">


  <form #f="ngForm" autocomplete="off">

    <div class="p-grid">

      <div class="p-col-12 ">
        <h1>Novo curso</h1>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Código</label>
        <input pInputText type="text" name="código"
          ngModel #codigo="ngModel" required minlength="5">

        <app-message [control]="codigo" error="required"
          text="Informe o código"></app-message>
        <app-message [control]="codigo" error="minlength"
          text="Mínimo de {{ codigo.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
          ngModel #nome="ngModel" required minlength="5">

        <app-message [control]="nome" error="required"
          text="Informe o nome"></app-message>
        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="p-col-12 p-md-8 p-fluid">
        <label>Modalidade {{ curso.modalidade }}</label>
        <p-dropdown [options]="graus" placeholder="Selecione"
           #modalidade></p-dropdown>
      </div>

      <div class="p-col-12 p-md-8 p-fluid">
        <label>Grau {{ curso.grau }}</label>
        <p-dropdown [options]="graus" placeholder="Selecione"
           #grau></p-dropdown>
      </div>


    </div>
    <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
      <button pButton type="button" label="Novo" class="ui-button-info"></button>

      <a href="javascript:;">Voltar para a pesquisa</a>
    </div>
  </form>
</div>
