<div class="container">
  <div class="p-col">
    <div class="p-col-12">
      <h1>Cursos</h1>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Nome</label>
      <input type="text" pInputText />
    </div>

    <div class="p-col-4 p-fluid">
      <label style="display: block;">Código</label>
      <input type="text" pInputText />
    </div>

    <div class="p-col-12">

      <button pButton type="submit" label="Pesquisar" ></button>
    </div>

  </div>

  <div class="p-col">
    <div class="p-col-12">
      <p-table [value]="cursos">
        <ng-template pTemplate="header">
            <tr>
                <th class="col-data-header">sku</th>
                <th class="col-data-header">nome</th>
                <th class="col-data-header">instituicao</th>
                <th class="col-data-header">grau</th>
                <th class="col-data-header">modalidade</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-curso>
            <tr>
                <td>{{curso.sku}}</td>
                <td>{{curso.nome}}</td>
                <td class="col-data-content">{{curso.instituicao}}</td>
                <td class="col-data-content">{{curso.grau}}</td>
                <td class="col-data-content">{{curso.modalidade}}</td>
            </tr>
        </ng-template>
    </p-table>

    </div>
  </div>

</div>
