<div class="container">


  <form #disciplinaForm="ngForm" autocomplete="off" (ngSubmit)="salvar(disciplinaForm)">

  <div class="p-grid">
      <div class="p-col-12">
        <h1>Nova Disciplina</h1>
      </div>

      <div class="p-col-12 p-md-6 p-lg-2 p-fluid">
        <label>Código</label>
        <input pInputText type="text" name="sku"
          #sku="ngModel" required minlength="5" [(ngModel)]="disciplina.sku">

        <app-message [control]="sku" error="required"
          text="Informe o código"></app-message>
        <app-message [control]="sku" error="minlength"
          text="Mínimo de {{ sku.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-lg-10 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
          #nome="ngModel" required minlength="5" [(ngModel)]="disciplina.nome">

        <app-message [control]="nome" error="required"
          text="Informe o nome"></app-message>
        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-lg-10 p-fluid">
        <h5>Cursos</h5>
        <p-listbox [options]="cursos" [(ngModel)]="disciplina.cursos"[metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="curso.nome" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}" name="cursos">
          <ng-template let-curso pTemplate="curso">
            <div class="country-item">
                <div>{{curso.nome}}</div>
            </div>
        </ng-template>
        </p-listbox>
      </div>


  </div>
  <button type="submit" class="btn btn-primary" [disabled]=!disciplinaForm.valid>Salvar</button>
  </form>
</div>

